{% load static %}
<nav class="navigation">
    <section class="navleft">
        <span>Ecom</span>
        <span>Store</span>
    </section>
    <section class="navright">
        <button>Login</button>
        <div class="navshopping">
            <a href="{% url "cart" %}">
                <img src="{% static "images/shopping-cart.png" %}" alt="Sopping Cart">
                <div>
                    <span>{{ items_count }}</span>
                </div>
            </a>
        </div>
    </section>
</nav>