{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "shopping_cart/product-list.css" %}">
{% endblock  %}

{% block title %}
    All Products
{% endblock  %}

{% block content %}
    <div class="productscontain">
        <section class="products">
            {% for product in products %}
                <div class="product">
                    <img src="{% static "shopping_cart/images/"|add:product.image  %}" alt={{ product.product_name }}>
                    <h1>{{ product.product_name }}</h1>
                    <hr>
                    <div class="productbotcontain">
                        <div>
                            <button data-product={{product.id}} data-action="add" class="update-cart">Add to Cart</button>
                            <button>View</button>
                        </div>
                        <span>₱{{ product.price }}</span>
                    </div>
                </div>
            {% endfor %}     
        </section>
    </div>
{% endblock %}



