{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "shopping_cart/cart.css" %}">
{% endblock  %}
{% block title %}
    Customer Cart
{% endblock  %}
{% block content %}
    <section class="cart">
        <section class="cartupper">
            <button class="cartback">
                <img src="{% static "shopping_cart/images/back.png" %}" alt="Back Button">
                <span>Continue Shopping</span>
            </button>
            <hr>
            <div class="cartinfo">
                <div>
                    <span>Items: {{ items_count }}</span>
                    <span>Total:$ {{ items_total }}</span>
                </div>
                <button class="cartcheckout">Checkout</button>
            </div>
        </section>
        <section class="cartlower">
            <div class="cartlowertable">
                <div class="cartlowerlabels"> 
                   <h2 class="cartlowerlabel"></h2>
                   <h2 class="cartlowerlabel">Item</h2>
                   <h2 class="cartlowerlabel">Price</h2>
                   <h2 class="cartlowerlabel">Quantity</h2> 
                   <h2 class="cartlowerlabel">Total</h2>   
                </div>
                <hr>
                {% for item in segregated_items %}
                    <div class="cartloweralldata">
                        <div class="cartlowerdata cartlowerprodimg">
                            <img src="{% static "shopping_cart/images/"|add:item.item_image %}" alt={{ item.item_name }}>
                        </div>
                        <h3 class="cartlowerdata cartlowertxt">{{ item.item_name }}</h3>
                        <h3 class="cartlowerdata cartlowertxt">{{ item.item_price }}</h3>
                        <div class="cartlowerdata cartlowerqty">
                            <h3 class="cartlowertxt">{{ item.item_qty }}</h3>
                            <div class="cartlowerupdown">
                                <img src="{% static "shopping_cart/images/up.png" %}" alt="Up Quantity">
                                <img src="{% static "shopping_cart/images/down.png" %}" alt="Down Quantity">
                            </div>
                        </div>
                        <h3 class="cartlowerdata cartlowertxt">{{ item.item_total }}</h3>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </section> 
    </section>
{% endblock  %}