{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "checkout/checkout.css" %}">
{% endblock  %}

{% block content %}
    <section class="checkout">
        <section class="checkoutform checkoutsection">
            <hr class="checkoutline">
            <span>Shipping Information</span>
            <hr class="checkoutline">
            <form action="">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </form>
            <hr class="checkoutline">
            <button>Continue</button>
        </section>
        <section class="checkoutorders checkoutsection">
            <button class="backbutton">
                <a href="{% url "cart" %}">
                    <img class="back" src="{% static "shopping_cart/images/back.png" %}" alt="Back button">
                    <span>Back to Cart</span>
                </a>
            </button>
            <hr class="checkoutline">
            <h1>Order Summary</h1>
            <hr class="checkoutline">
            <div class="checkoutorder">
                <img class="item" src="{% static "shopping_cart/images/book.jpg" %}" alt="Pic">
                <span>Mountain of Olive's Book</span>
                <span>$14.00</span>
                <span>x3</span>
            </div>
            <div class="checkoutorder">
                <img class="item" src="{% static "shopping_cart/images/book.jpg" %}" alt="Pic">
                <span>Mountain of Olive's Book</span>
                <span>$14.00</span>
                <span>x3</span>
            </div>
            <hr class="checkoutline">
            <p>Items: 3</p>
            <p>Total: $44.20</p>
        </section>
    </section>
{% endblock  %}